@import "../../assets/scss/reset.scss";

header {
    background-color: $color-pink;
    height: 100vh;
    .__header {
        height: 80px;
        display: flex;
        align-items: center;
        .__logo_box {
            color: $color-orange;
            font-size: 16px;
        }
    }

    .__mode_select {
        position: absolute;
        top: 0;
        right: 0;
    }

    .__main {
        height: calc(100vh - 80px);
        .__main_greet {
            display: flex;
            height: 100%;
            .__greet_txt {
                width: 50%;
                text-align: right;
                padding-top: 200px;
                .__greet {
                    // 80px
                    font-size: 2.25rem;
                    font-weight: 500;
                    margin-bottom: 40px;
                    @include tab {
                        font-size: 1.5rem;
                    }
                }
                .__name {
                    font-size: 5rem;
                    margin-bottom: 40px;
                    font-weight: 700;
                    @include tab {
                        font-size: 3.375rem;
                    }
                    span {
                        display: block;
                        margin-top: 20px;
                        // 24px
                        font-size: 1.5rem;
                        font-weight: 400;
                        @include tab {
                            font-size: 1.2rem;
                        }
                    }
                    & + p {
                        // 18px 
                        font-size: 1.125rem;
                        line-height: 1.2;
                        @include tab {
                            font-size: 1rem;
                        }
                    }
                }
            }
            .__greet_img {
                width: 50%;
            }
        }
    }
}

// .__do {
//     padding: 200px 0; 
//     h3 {
//         margin-bottom: 170px;
//     }
//     .__do_cont {
//         display: flex;
//         justify-content: space-between;
//         position: relative;
//         &:before {
//             position: absolute;
//             content: "";
//             top: 225px;
//             width: 1620px;
//             height: 1px;
//             left: 50%;
//             transform: translateX(-50%);
//             background-color: $color-lightgrey;
//         }
//         .__cont_box {
//             width: calc(25% - 30px);
//             position: relative;
//             &:after {
//                 position: absolute;
//                 content: "";
//                 width: 15px;
//                 height: 15px;
//                 bottom: 118px;
//                 left: 50%;
//                 transform: translateX(-50%);
//                 border-radius: 50%;
//                 background-color: $color-pink;
//             }
//             .__cont_img {
//                 text-align: center;
//                 margin-bottom: 125px;
//             }
//             .__cont_txt {
//                 max-width: 284px;
//                 padding-top: 53px;
//                 margin: 0 auto;
//                 .__cont_tit {
//                     font-size: 1.125rem;
//                     margin-bottom: 20px;
//                 }
//             }
//         }
//     }
// }

$panelcount: 4; // set # of panels/sections here

.__do {
    width: 100%;
    height: 100%;
    overflow: hidden;
    perspective: 1000;
    padding-top: 100px;
    .__fit_title {
        @include dot();
        padding-left: 100px;
        @include tab {
            padding-left: 60px;
        }
    }
    .section {
        & {
            padding-bottom: 200px;
            height: calc(100% - 600px);
            width: calc( 100% / #{$panelcount} );
            float: left;
            position: relative;
            .__text_position {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            .__cont_img {
                text-align: center;
            }
            .__cont_txt {
                max-width: 284px;
                padding-top: 53px;
                margin: 0 auto;
                .__cont_tit {
                    font-size: 1.125rem;
                    margin-bottom: 20px;
                }
            }
            }
            
            $colors: $color-orange, $color-lightgrey, $color-pink, $color-grey;
            @for $i from 1 through length($colors) {
                &:nth-child(#{$i}) {
                    background: nth($colors, $i)
                }
            }
        }
        &s {
            margin-top: 160px;
            width: percentage($panelcount);
            height: 100%;
            position: relative;
        }
    }
}
.__project {
    position: relative;
    margin-top: 200px;
    &::before {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 50%;
        height: 100%;
        background: $color-pink;
    }
    .__cont_wrap {
        max-height: 1080px;
        border-top: 2px solid $color-pink;
        border-bottom: 2px solid $color-pink;
        .__cont_list {
            display: flex;
            justify-content: space-between;
            max-height: 1080px;
            .__list {
                width: calc(50% - 37px);
                z-index: 0;
                padding-top: 100px;
                .__project_title {
                    @include dot();
                    text-align: center;
                    margin-bottom: 128px;
                    & + ul {
                        max-width: 460px;
                        margin: 0 auto;
                        padding: 20px 0;
                        border-left: 1px solid $color-black;
                        font-size: 1.125rem;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        li {
                            margin-bottom: 48px;
                            position: relative;
                            padding-left: 74px;
                            &:last-child {
                                margin-bottom: 0;
                            }
                            &::after {
                                position: absolute;
                                content: "";
                                top: 50%;
                                left: -9px;
                                transform: translateY(-50%);
                                width: 15px;
                                height: 15px;
                                border-radius: 50%;
                                border: 1px solid $color-black;
                                background-color: $color-pink;
                            }
                            span {
                                font-weight: 700;
                            }
                        }
                    }
                }
            }
            .__cont_report {
                width: calc(50% - 74px);
                // padding-top: 100px;
                // overflow-y: scroll;
                // &::-webkit-scrollbar {
                //     display: none;
                // }
                .__report_wrap {
                    max-width: 600px;
                    margin: 0 auto;
                    overflow: hidden;
                    .swiper-wrapper {
                        max-height: 1080px;
                        .__report_list {
                            // margin-bottom: 200px;
                            h4 {
                                font-size: 1.375rem;
                                text-align: center;
                                font-weight: 700;
                                margin-bottom: 33px;
                                padding-top: 100px;
                                position: relative;
                                &::before {
                                    position: absolute;
                                    content: "";
                                    bottom: -16px;
                                    left: 0;
                                    height: 4px;
                                    width: 100%;
                                    background-color: $color-black;
                                }
                                span {
                                    font-weight: 400;
                                }
                                & + p {
                                    font-size: 0.875rem;
                                    line-height: 1.2;
                                    margin-bottom: 20px;
                                }
                            }
                            .__capacity {
                                display: flex;
                                gap: 60px;
                                line-height: 1.3;
                                margin-bottom: 120px;
                                .__capa_list {
                                    .__site {
                                        font-weight: 700;
                                        color: $color-blue;
                                    }
                                }
                                .__capa_cont {
                                    .__go_site {
                                        display: inline-block;
                                        position: relative;
                                        font-weight: 700;
                                        color: $color-blue;
                                        &:after {
                                            position: absolute;
                                            content: "";
                                            background-image: url("../images/right_arrow.png");
                                            background-repeat: no-repeat;
                                            background-size: contain;
                                            width: 15px;
                                            height: 15px;
                                            top: 50%;
                                            left: calc(100% + 8px);
                                            transform: translateY(-50%);
                                            cursor: pointer;
                                        }
                                        &:hover:before {
                                            position: absolute;
                                            content: "";
                                            bottom: -4px;
                                            left: 0;
                                            width: 100%;
                                            height: 2px;
                                            background-color: $color-blue;
                                            animation: underline 0.4s;
                                        }
                                        @keyframes underline {
                                            0% {
                                                left: 50%;
                                                width: 0%;
                                            }
                                            100% {
                                                left: 0%;
                                                width: 100%;
                                            }
                                        }
                                        &:hover:after {
                                            transition: ease-in 0.4s;
                                            left: calc(100% + 15px);
                                        }
                                    }
                                }
                            }
                            .__report_img {
                                text-align: center;
                                margin-bottom: 90px;
                            }
                        }
                    }
                    .swiper-pagination {
                        bottom: 20px;
                        left: 50%;
                        width: 47%;
                    }
                    .swiper-pagination-bullet {
                        background-color: $color-black;
                        width: 10px;
                        height: 10px;
                    }
                }
            }
        }
    }
}

footer {
    padding: 200px 0;
    text-align: center;
    font-size: 1.125rem;
    h3 {
        @include dot();
        margin-bottom: 20px;
        & + p {
            color: $color-grey;
            margin-bottom: 60px;
        }
    }
    .__connection_icon {
        display: flex;
        justify-content: center;
        p {
            margin-right: 80px;
            font-weight: 700;
        }
        .__icon_wrap {
            display: flex;
            .__icon_img {
                margin-right: 25px;
                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
}