@import "../../assets/scss/reset.scss";

.wrapper {
    display: flex;
}

header {
    height: 100vh;
}

.__inner_wrapper {
    max-width: 1660px;
}

.__left {
    width: calc(100% - 110px);
    @include mo {
        width: calc(100% - 80px);
    }
    header {
        .__menu {
            height: 80px;
            width: 100%;
            background-color: $color-pink;
            border-bottom: 1px solid rgba($color-e6, 0.8);
            z-index: 1;
            display: flex;
            align-items: center;
            position: fixed;
            @include tab {
                height: 60px;
            }
            .__mobile_btn {
                width: 35px;
                height: 25px;
                position: relative;
                display: block;
                cursor: pointer;
                margin-left: 40px;
                z-index: 2;
                .line {
                    position: absolute;
                    height: 3px;
                    background: $color-black;
                    width: 100%;
                    transition: all 1s;
                    &.line01 {
                        top: 0;
                    }
                    &.line02 {
                        width: 25px;
                        top: 50%;
                        transform: translateY(-50%);
                    }
                    &.line03 {
                        bottom: 0;
                    }
                    &.active {
                        &.line01 {
                            top: 50%;
                            transform: rotate(45deg) translateY(-50%);
                        }
                        &.line02 {
                            opacity: 0;
                        }
                        &.line03 {
                            bottom: 50%;
                            transform: rotate(-45deg) translateY(50%);
                        }
                    }
                }
            }
            .mobile_nav{
                position: absolute;
                width: 0px;
                height: 100vh;
                background: white;
                left: 0;
                top: 0;
                transition: all 0.8s;
                .nav_list {
                    opacity: 0;
                    transition: all 0.7s;
                    margin-top: 80px;
                    padding: 50px 20px 20px 40px;
                    .mobile_list_box {
                        ul {
                            li {
                                padding: 20px 0 ;
                            }
                        }
                    }
                }
                &.active {
                    width: 300px;
                    .nav_list {
                        opacity: 1;
                    }
                }
            }
        }
        .__main_greet {
            padding-top: 80px;
            height: calc(100vh - 80px);
            display: flex;
            align-items: center;
            text-align: right;
            background-color: $color-pink;
            .__greet_txt {
                width: 50%;
                text-align: right;
                @include tab {
                    width: 100%;
                    text-align: right;
                }

                @include mo {
                    text-align: left;
                }
                .__greet {
                    // 80px
                    font-size: 2.25rem;
                    font-weight: 500;
                    margin-bottom: 40px;
                    @include tab {
                        font-size: 1.5rem;
                    }
                    @include mo {
                        font-size: 1.2rem;
                    }
                }
                .__name {
                    font-size: 5rem;
                    margin-bottom: 40px;
                    font-weight: 700;
                    @include tab {
                        font-size: 3.375rem;
                    }
                    @include mo {
                        font-size: 2rem;
                        margin-bottom: 30px;
                    }
                    span {
                        display: block;
                        margin-top: 20px;
                        // 24px
                        font-size: 1.5rem;
                        font-weight: 400;
                        @include tab {
                            font-size: 1.2rem;
                        }
                        @include mo {
                            font-size: 1rem;
                        }
                    }
                    & + p {
                        // 18px 
                        font-size: 1.125rem;
                        line-height: 1.4;
                        @include tab {
                            font-size: 1rem;
                        }
                        @include mo {
                            font-size: 0.875rem;
                        }
                    }
                }
            }
        }
    }
    main {
        .__do {
            padding: 300px 0;
            .__fit_title {
                margin-bottom: 100px;
                @include mo {
                    margin-bottom: 60px;
                }
            }
            .__do_list {
                padding-top: 150px;
                position: relative;
                @include mo {
                    padding-top: 0px;
                    padding-bottom: 60px;
                }
                &:before {
                    position: absolute;
                    content: "";
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 1px;
                    background-color: $color-black;
                    @include mo {
                        display: none;
                    }
                }
                .flip {
                    display: flex;
                    justify-content: space-evenly;
                    @include mo {
                        flex-direction: column;
                        padding-left: 0;
                    }
                    .flip_card {
                        transform-style: preserve-3d;
                        perspective: 1000px;
                        width: 206px;
                        height: 320px;
                        transition: transform 0.7s;
                        position: relative;
                        cursor: pointer;
                        @include tab {
                            width: 136px;
                            height: 270px;
                        }
                        @include mo {
                            width: 100%;
                            height: 200px;
                        }
                        &:before {
                            position: absolute;
                            content: "";
                            width: 1px;
                            height: 150px;
                            left: 50%;
                            bottom: 100%;
                            background-color: $color-black;
                            @include mo {
                               display: none;
                            }
                        }
                        &:after {
                            position: absolute;
                            content: "";
                            width: 14px;
                            height: 14px;
                            border-radius: 50%;
                            bottom: calc(100% + 143px);
                            border: 1px solid $color-black;
                            left: 50%;
                            transform: translateX(-50%);
                            background-color: $color-pink;
                            @include mo {
                                display: none;
                            }
                        }
                        .card_inner {
                            position: relative;
                            width: 100%;
                            height: 100%;
                            text-align: center;
                            transition: transform 0.8s;
                            transform-style: preserve-3d;
                            .front, .back {
                                position: absolute;
                                width: 100%;
                                height: 100%;
                                -webkit-backface-visibility: hidden; /* Safari */
                                backface-visibility: hidden;
                                display: flex;
                                align-items: center;
                                // transform: translateZ(40px) scale(0.85);
                            }
                            .front {
                                position: absolute;
                                top:0;
                                left: 0;
                                width: 100%;
                                background-color: white;
                                border: 1px solid $color-lightgrey;
                                transform-style: preserve-3d;
                                
                                .gif_wrap {
                                    transform: translateZ(70px) scale(0.85);
                                    @include mo {
                                        transform: scale(0.32);
                                    }
                                    figure {
                                        width: 100%;
                                        height: 100%;
                                        picture {
                                            img {
                                                width: 100%;
                                            }
                                            display: block;
                                        }
                                    }
                                }
                            }
                            .back {
                                position: absolute;
                                top: 0;
                                left: 0;
                                width: 100%;
                                background: $color-black;
                                transform: rotateY(180deg);
                                transform-style: preserve-3d;
                                color: $color-bg;
                                font-size: 20px;
                                line-height: 1.8;
                                text-align: left;
                                .__cont_desc {
                                    transform: translateZ(70px) scale(0.75);
                                }
                                @include tab{
                                    font-size: 16px;
                                }
                            }
                        }
                        &:hover .card_inner {
                            transform: rotateY(-180deg);
                            .underline {
                                position: relative;
                                &:after {
                                    position: absolute;
                                    content: "";
                                    bottom: -5px;
                                    animation: line;
                                    animation-duration: 0.8s;
                                    animation-delay: 0.4s;
                                    animation-fill-mode: forwards;
                                    background-color: rgba($color-orange, 0.7);
                                    height: 5px;
                                }
                                @keyframes line {
                                    0% {
                                        left: 0;
                                        width: 0;
                                    }
                                    100% {
                                        left: 0;
                                        width: 100%;
                                    }
                                }
                            }
                        }
                        &:hover:after {
                            border: 1px solid $color-black;
                            background-color: $color-ff;
                        }
                    }
                    //     &:hover {
                    //         transform: rotateY(-180deg);
                    //         transform-style: preserve-3d;
                    //         .underline {
                    //             position: relative;
                    //             &:after {
                    //                 position: absolute;
                    //                 content: "";
                    //                 bottom: -5px;
                    //                 animation: line;
                    //                 animation-duration: 0.8s;
                    //                 animation-delay: 0.4s;
                    //                 animation-fill-mode: forwards;
                    //                 background-color: rgba($color-orange, 0.7);
                    //                 height: 5px;
                    //             }
                    //             @keyframes line {
                    //                 0% {
                    //                     left: 0;
                    //                     width: 0;
                    //                 }
                    //                 100% {
                    //                     left: 0;
                    //                     width: 100%;
                    //                 }
                    //             }
                    //         }
                    //     }
                    //     &:hover:after {
                    //         border: 1px solid $color-black;
                    //         background-color: $color-ff;
                    //     }
                    // }
                    // .flip_card {
                    //     // width: 210px;
                    //     // height: 300px;
                    //     // perspective: 1000px;
                    //     .card_inner {
                    //         position: relative;
                    //         width: 100%;
                    //         height: 100%;
                    //         text-align: center;
                    //         transition: transform 0.8s;
                    //         transform-style: preserve-3d;
                    //     }
                    //     &:hover .card_inner {
                    //         transform: rotateY(-180deg);
                    //     }

                    //     .front, .back {
                    //         position: absolute;
                    //         width: 100%;
                    //         height: 100%;
                    //         -webkit-backface-visibility: hidden; /* Safari */
                    //         backface-visibility: hidden;
                    //         transform: translateZ(40px) scale(0.85);
                    //     }
                    //     .front {
                    //         background-color: #bbb;
                    //         color: black;
                    //         display: flex;
                    //         align-items: center;
                    //         img {
                    //             width: 100%;
                    //         }
                    //     }
                    //     .back {
                    //         background-color: dodgerblue;
                    //         color: white;
                    //         transform: rotateY(-180deg);
                    //     }
                    // }
                }
                .flip_title {
                    display: flex;
                    justify-content: space-evenly;
                    margin-top: 50px;
                    @include mo {
                        flex-direction: column;
                        margin-top: 0;
                        display: none;
                    }
                    .card_title {
                        width: 206px;
                        text-align: center;
                        font-size: 18px;
                        font-weight: 600;
                        @include tab {
                            width: 136px;
                            font-size: 16px;
                        }
                        @include mo {
                            width: unset;
                            height: 260px;
                            display: flex;
                            align-items: center;
                        }
                    }
                }
            }
        }

        .__portfolio {
            .__port_sec {
                padding: 230px 0;
                &.sec_resort {
                    background: url("../../assets/images/resort_bg.png") no-repeat;
                    background-size: cover;
                    background-position: center center;
                    background-attachment: fixed;
                }
                &.sec_royal {
                    background: url("../../assets/images/royal_bg.png") no-repeat;
                    background-size: cover;
                    background-position: center center;
                    // background-attachment: fixed;
                }
                &.sec_pr {
                    background: url("../../assets/images/pr_bg.png") no-repeat;
                    background-size: cover;
                    background-position: center center;
                    background-attachment: fixed;
                }
                .__port_cont {
                    display: flex;
                    justify-content: space-between;
                    @include mo {
                        flex-direction: column;
                    }
                    .__view_box {
                        width: calc(50% - 30px);
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        @include tab {
                            width: calc(50% - 10px);
                        }
                        @include mo {
                            width: 100%;
                        }
                        .__grey_num {
                            margin-bottom: 30px;
                            span {
                                font-size: 180px;
                                font-weight: 800;
                                color: rgba($color-lightgrey,0.3);
                                letter-spacing: -8px;
                                @include tab {
                                    font-size: 80px;
                                }
                            }
                        }
                        .__view_image {
                            img {
                                width: 100%;
                            }
                        }
                    }
                    .__desc_box {
                        width: calc(50% - 30px);
                        padding-top: 90px;
                        @include tab {
                            width: calc(50% - 10px);
                            padding-top: 15px;
                        }
                        @include mo {
                            width: 100%;
                        }
                        .__desc_title {
                            font-size: 36px;
                            font-weight: 600;
                            line-height: 1.4;
                            margin-bottom: 100px;
                            @include tab {
                                font-size: 24px;
                                margin-bottom: 60px;
                            }
                        }
                        .__desc_text {
                            .__text_box {
                                margin-bottom: 40px;
                                font-weight: 400;
                                &:last-child {
                                    margin-bottom: 0;
                                    p {
                                        &:last-child {
                                            line-height: 1.6;
                                        }
                                    }
                                }
                                p {
                                    &:first-child {
                                        margin-bottom: 10px;
                                        font-weight: 600;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .__work {
            .__work_cont {
                display: flex;
                max-width: unset;
                @include tab {
                    flex-direction: column;
                }
                .__fit_title {
                    padding: 50px 0;
                    width: 160px;
                    border-right: 1px solid rgba($color-e6, 0.8);
                    margin-right: 30px;
                    font-size: 2.6rem;
                    @include tab {
                        width: 100%;
                        border-right: none;
                        border-bottom: 1px solid rgba($color-e6, 0.8);
                    }
                }
                .__work_wrap {
                    padding: 140px 0;
                    width: calc(100% - 160px);
                    position: relative;
                    @include tab {
                        width: 100%;
                        padding: 80px 0;
                    }
                    @include mo {
                        padding: 60px 0;
                    }
                    &:before {
                        position: absolute;
                        content: "";
                        width: 1px;
                        height: 100%;
                        background-color: rgba($color-e6, 0.8);
                        top: 0;
                        left: calc(33% + 3px);
                        @include tab {
                            left: 50%
                        }
                        @include mo {
                            display: none;
                        }
                    }
                    &:after {
                        position: absolute;
                        content: "";
                        width: 1px;
                        height: 100%;
                        background-color: rgba($color-e6, 0.8);
                        top: 0;
                        left: calc(66% + 10px);
                        @include tab {
                            display: none;
                        }
                    }
                    .__work_list {
                        display: flex;
                        justify-content: space-between;
                        flex-wrap: wrap;
                        .test {
                            width: calc(33.333% - 30px);
                            margin-bottom: 50px;
                            padding: 10px;
                            @include tab {
                                width: calc(50% - 20px);
                            }
                            @include mo {
                                width: calc(100% - 10px);
                            }
                            .work_title {
                                padding-bottom: 10px;
                                margin-bottom: 20px;
                                border-bottom: 1px solid $color-e6;
                                font-size: 18px;
                                font-weight: 600;
                            }
                            .cont_wrap {
                                position: relative;
                                max-height: 450px;
                                overflow-y: hidden;
                                border: 2px solid $color-pink;
                                cursor: pointer;
                                .img_box {
                                    position: relative;
                                    &:after {
                                        position: absolute;
                                        content: "";
                                        width: 100%;
                                        height: 100%;
                                        top: 0;
                                        left: 0;
                                        // background-color: rgba($color-black, 0.1);
                                    }
                                    img {
                                        width: 100%;
                                    }
                                }
                                &:hover {
                                    .__capa_list {
                                        right: 0%;
                                        transition: ease-in-out 0.5s;
                                    }
                                }
                                .__capa_list {
                                    position: absolute;
                                    top: 0;
                                    right: 100%;
                                    width: 100%;
                                    height: 100%;
                                    // background-color: rgba($color-black, 0.95);
                                    background: linear-gradient(to right, rgba($color-black, 0.95) 55%, rgba($color-black, 0.75) 95%, rgba($color-black, 0.6) 100%);
                                    color: white;
                                    .__cont_wrap {
                                        height: 100%;
                                        display: flex;
                                        flex-direction: column;
                                        justify-content: space-between;
                                        .list_cont {
                                            padding: 50px 50px 0;
                                            @media screen and (max-width: 1693px) {
                                                padding: 30px 30px 0;
                                            }
                                            @media screen and (max-width: 1565px) {
                                                padding: 20px 20px 0;
                                            }
                                            .__list_menu {
                                                margin-bottom: 30px;
                                                font-weight: 400;
                                                font-size: 18px;
                                                @media screen and (max-width: 1514px) {
                                                    margin-bottom: 20px;
                                                    font-size: 16px;
                                                }
                                                .__left_menu {
                                                    margin-bottom: 8px;
                                                    font-weight: 700;
                                                }
                                                &:last-child {
                                                    margin-bottom: 0;
                                                }
                                            }
                                        }
                                        .__site {
                                            padding: 0 50px 50px ;
                                            @media screen and (max-width: 1693px) {
                                                padding: 0 30px 30px;
                                            }
                                            @media screen and (max-width: 1565px) {
                                                padding: 0 20px 20px;
                                            }
                                            a {
                                                display: inline-block;
                                                position: relative;
                                                &:after {
                                                    position: absolute;
                                                    content: "";
                                                    left: calc(100% + 6px);
                                                    top: 50%;
                                                    width: 25px;
                                                    height: 18px;
                                                    transform: translateY(-50%);
                                                    background: url("./../../assets/images/yellow.png") no-repeat;
                                                    background-size: contain;
                                                    animation: arrow infinite 0.8s;
                                                }
                                                @keyframes arrow {
                                                    0% {
                                                        left: calc(100% + 6px);
                                                    }

                                                    100% {
                                                        left: calc(100% + 15px);
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.__right {
    width: 110px;
    border-left: 1px solid rgba($color-e6, 0.8);
    background-color: $color-bg;
    position: relative;
    z-index: 1;
    @include mo {
        width: 80px;
    }
    #__mode_btn {
        position: fixed;
        top: 20px;
        right: 15px;
        width: 80px;
        height: 40px;
        border-radius: 160px;
        background: #f8f8f8;
        transition: 0.5s;
        cursor: pointer;
        box-shadow: inset 0 2px 60px rgba(0,0,0,0.1),
        inset 0 2px 8px rgba(0,0,0,0.1),
        inset 0 -4px 4px rgba(0,0,0,0.05);
        @include tab {
            top: 16px;
            right: 19px;
            width: 72px;
            height: 36px;
        }
        @include mo {
            right: 10px;
            width: 60px;
            height: 30px;
        }
        .__indicator {
            position: absolute;
            top: 0;
            left: 0;
            width: 38px;
            height: 38px;
            background: #f8f8f8;
            background: linear-gradient(to bottom, #eaeaea, #f9f9f9);
            background: url(../../assets/images/day.png) no-repeat;
            background-size: 30px;
            background-position: center center;
            border-radius: 50%;
            border: 1px solid #777;
            transform: scale(0.9);
            box-shadow: 0 8px 20px rgba(0,0,0,0.1),
                        inset 0 4px 4px rgba(255,255,255,1),
                        inset 0 4px 4px rgba(255,255,255,1);
            transition: 0.5s;
            z-index: 1;
            @include tab {
                width: 34px;
                height: 34px;
                background-size: 22px;
            }
            @include mo {
                width: 28px;
                height: 28px;
                background-size: 16px;
            }
        }
        &.active {
            background: #777;
            box-shadow: inset 0 8px 60px rgba(0,0,0,0.1),
                        inset 0 8px 8px rgba(0,0,0,0.1),
                        inset 0 -4px 4px rgba(0,0,0,0.1);            
            .__indicator {
                left: 40px;
                background: linear-gradient(to bottom, #444, #222);
                background: url(../../assets/images/night.png) no-repeat;
                background-size: 30px;
                background-position: center center;
                border: 1px solid #f8f8f8;

                box-shadow: 0 8px 40px rgba(0,0,0,0.5),
                            inset 0 4px 4px rgba(255,255,255,0.2),
                            inset 0 4px 4px rgba(255,255,255,0.2);
                @include tab {
                    left: 40px;
                    background-size: 22px;
                }
                @include mo {
                    left: 35px;
                    background-size: 16px;
                }
            }
        }
    }
}