// color
$color-bg : #f9f9f9;
$color-e6 : #e6e6e6;
$color-black : #333;
$color-pink: #F8E6E0;
$color-orange: #FFC23C;
$color-orange: #eba91b;
$color-ff: #ffd884;
$color-grey: #5f5f5f;
$color-lightgrey: #c9c9c9;
// $color-blue: #2C74B3;
$color-blue: #0002A1;

// dark-mode
$color-dark-bg: #100F0F;
$color-point: #3F4E4F;
