@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://webfontworld.github.io/gmarket/GmarketSans.css");
@font-face {
  font-family: "GmarketSans";
  font-weight: 300;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.eot");
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.eot?#iefix") format("embedded-opentype"), url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.woff") format("woff"), url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.ttf") format("truetype");
  font-display: swap;
  unicode-range: U+0041-005A, U+0061-007A;
}
@font-face {
  font-family: "GmarketSans";
  font-weight: 500;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.eot");
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.eot?#iefix") format("embedded-opentype"), url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.woff") format("woff"), url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.ttf") format("truetype");
  font-display: swap;
  unicode-range: U+0041-005A, U+0061-007A;
}
@font-face {
  font-family: "GmarketSans";
  font-weight: 700;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.eot");
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.eot?#iefix") format("embedded-opentype"), url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.woff") format("woff"), url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.ttf") format("truetype");
  font-display: swap;
  unicode-range: U+0041-005A, U+0061-007A;
}
/* HTML5 display-role reset for older browsers */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", "GmarketSans";
  height: 100%;
  color: #333;
  background-color: #f9f9f9;
  font-weight: 400;
}

section.change, footer.change {
  background: #100F0F;
  color: #f9f9f9;
}

.__inner_wrapper {
  max-width: 1520px;
  margin: 0 auto;
  padding: 0 30px;
}
@media (max-width: 767px) {
  .__inner_wrapper {
    padding: 0 20px;
  }
}

h3 {
  font-size: 4rem;
  font-weight: 700;
}
@media (max-width: 1023px) {
  h3 {
    font-size: 2.625rem;
  }
}
@media (max-width: 767px) {
  h3 {
    font-size: 1.75rem;
  }
}

.wrapper {
  display: flex;
}

header {
  height: 100vh;
}

.__inner_wrapper {
  max-width: 1660px;
}

.__left {
  width: calc(100% - 110px);
}
@media (max-width: 767px) {
  .__left {
    width: calc(100% - 80px);
  }
}
.__left header .__menu {
  height: 80px;
  width: 100%;
  background-color: #F8E6E0;
  border-bottom: 1px solid rgba(230, 230, 230, 0.8);
  z-index: 1;
  display: flex;
  align-items: center;
  position: fixed;
}
@media (max-width: 1023px) {
  .__left header .__menu {
    height: 60px;
  }
}
.__left header .__menu .__mobile_btn {
  width: 35px;
  height: 25px;
  position: relative;
  display: block;
  cursor: pointer;
  margin-left: 40px;
  z-index: 2;
}
.__left header .__menu .__mobile_btn .line {
  position: absolute;
  height: 3px;
  background: #333;
  width: 100%;
  transition: all 1s;
}
.__left header .__menu .__mobile_btn .line.line01 {
  top: 0;
}
.__left header .__menu .__mobile_btn .line.line02 {
  width: 25px;
  top: 50%;
  transform: translateY(-50%);
}
.__left header .__menu .__mobile_btn .line.line03 {
  bottom: 0;
}
.__left header .__menu .__mobile_btn .line.active.line01 {
  top: 50%;
  transform: rotate(45deg) translateY(-50%);
}
.__left header .__menu .__mobile_btn .line.active.line02 {
  opacity: 0;
}
.__left header .__menu .__mobile_btn .line.active.line03 {
  bottom: 50%;
  transform: rotate(-45deg) translateY(50%);
}
.__left header .__menu .mobile_nav {
  position: absolute;
  width: 0px;
  height: 100vh;
  background: white;
  left: 0;
  top: 0;
  transition: all 0.8s;
}
.__left header .__menu .mobile_nav .nav_list {
  opacity: 0;
  transition: all 0.7s;
  margin-top: 80px;
  padding: 50px 20px 20px 40px;
}
.__left header .__menu .mobile_nav .nav_list .mobile_list_box ul li {
  padding: 20px 0;
}
.__left header .__menu .mobile_nav.active {
  width: 300px;
}
.__left header .__menu .mobile_nav.active .nav_list {
  opacity: 1;
}
.__left header .__main_greet {
  padding-top: 80px;
  height: calc(100vh - 80px);
  display: flex;
  align-items: center;
  text-align: right;
  background-color: #F8E6E0;
}
.__left header .__main_greet .__greet_txt {
  width: 50%;
  text-align: right;
}
@media (max-width: 1023px) {
  .__left header .__main_greet .__greet_txt {
    width: 100%;
    text-align: right;
  }
}
@media (max-width: 767px) {
  .__left header .__main_greet .__greet_txt {
    text-align: left;
  }
}
.__left header .__main_greet .__greet_txt .__greet {
  font-size: 2.25rem;
  font-weight: 500;
  margin-bottom: 40px;
}
@media (max-width: 1023px) {
  .__left header .__main_greet .__greet_txt .__greet {
    font-size: 1.5rem;
  }
}
@media (max-width: 767px) {
  .__left header .__main_greet .__greet_txt .__greet {
    font-size: 1.2rem;
  }
}
.__left header .__main_greet .__greet_txt .__name {
  font-size: 5rem;
  margin-bottom: 40px;
  font-weight: 700;
}
@media (max-width: 1023px) {
  .__left header .__main_greet .__greet_txt .__name {
    font-size: 3.375rem;
  }
}
@media (max-width: 767px) {
  .__left header .__main_greet .__greet_txt .__name {
    font-size: 2rem;
    margin-bottom: 30px;
  }
}
.__left header .__main_greet .__greet_txt .__name span {
  display: block;
  margin-top: 20px;
  font-size: 1.5rem;
  font-weight: 400;
}
@media (max-width: 1023px) {
  .__left header .__main_greet .__greet_txt .__name span {
    font-size: 1.2rem;
  }
}
@media (max-width: 767px) {
  .__left header .__main_greet .__greet_txt .__name span {
    font-size: 1rem;
  }
}
.__left header .__main_greet .__greet_txt .__name + p {
  font-size: 1.125rem;
  line-height: 1.4;
}
@media (max-width: 1023px) {
  .__left header .__main_greet .__greet_txt .__name + p {
    font-size: 1rem;
  }
}
@media (max-width: 767px) {
  .__left header .__main_greet .__greet_txt .__name + p {
    font-size: 0.875rem;
  }
}
.__left main .__do {
  padding: 300px 0;
}
.__left main .__do .__fit_title {
  margin-bottom: 100px;
}
.__left main .__do .__do_list {
  padding-top: 150px;
  position: relative;
}
.__left main .__do .__do_list:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #333;
}
.__left main .__do .__do_list .flip {
  display: flex;
  justify-content: space-evenly;
}
.__left main .__do .__do_list .flip .flip_card {
  transform-style: preserve-3d;
  perspective: 1000px;
  width: 210px;
  height: 300px;
  transition: transform 0.5s;
  position: relative;
}
@media (max-width: 1023px) {
  .__left main .__do .__do_list .flip .flip_card {
    width: 136px;
    height: 270px;
  }
}
.__left main .__do .__do_list .flip .flip_card:before {
  position: absolute;
  content: "";
  width: 1px;
  height: 150px;
  left: 50%;
  bottom: 100%;
  background-color: #333;
}
.__left main .__do .__do_list .flip .flip_card:after {
  position: absolute;
  content: "";
  width: 14px;
  height: 14px;
  border-radius: 50%;
  bottom: calc(100% + 143px);
  border: 1px solid #333;
  left: 50%;
  transform: translateX(-50%);
  background-color: #F8E6E0;
}
.__left main .__do .__do_list .flip .flip_card .front, .__left main .__do .__do_list .flip .flip_card .back {
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border-radius: 8px;
  transform: rotateY(0deg);
  transform-style: preserve-3d;
  display: flex;
  align-items: center;
  justify-content: center;
}
.__left main .__do .__do_list .flip .flip_card .front .card_inner, .__left main .__do .__do_list .flip .flip_card .back .card_inner {
  top: 50%;
  position: absolute;
  left: 0;
  transform: translateY(-50%) translateZ(70px) scale(0.85);
}
.__left main .__do .__do_list .flip .flip_card .front img, .__left main .__do .__do_list .flip .flip_card .back img {
  width: 100%;
}
.__left main .__do .__do_list .flip .flip_card .front {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  border: 1px solid #c9c9c9;
}
.__left main .__do .__do_list .flip .flip_card .back {
  position: absolute;
  top: 0;
  left: 0%;
  width: 100%;
  background: #333;
  transform: rotateY(180deg);
  transform-style: preserve-3d;
}
.__left main .__do .__do_list .flip .flip_card .back .card_inner {
  color: #f9f9f9;
  font-size: 20px;
  line-height: 1.8;
}
@media (max-width: 1023px) {
  .__left main .__do .__do_list .flip .flip_card .back .card_inner {
    font-size: 16px;
  }
}
.__left main .__do .__do_list .flip .flip_card:hover {
  transform: rotateY(-180deg);
  transform-style: preserve-3d;
}
.__left main .__do .__do_list .flip .flip_card:hover .underline {
  position: relative;
}
.__left main .__do .__do_list .flip .flip_card:hover .underline:after {
  position: absolute;
  content: "";
  bottom: -5px;
  -webkit-animation: line;
          animation: line;
  -webkit-animation-duration: 0.7s;
          animation-duration: 0.7s;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  background-color: rgba(235, 169, 27, 0.7);
  height: 5px;
}
@-webkit-keyframes line {
  0% {
    left: 0;
    width: 0;
  }
  100% {
    left: 0;
    width: 100%;
  }
}
@keyframes line {
  0% {
    left: 0;
    width: 0;
  }
  100% {
    left: 0;
    width: 100%;
  }
}
.__left main .__do .__do_list .flip .flip_card:hover:after {
  border: 1px solid #333;
  background-color: #FFC23C;
}
.__left main .__do .__do_list .flip_title {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
}
.__left main .__do .__do_list .flip_title .card_title {
  width: 210px;
  text-align: center;
}
@media (max-width: 1023px) {
  .__left main .__do .__do_list .flip_title .card_title {
    width: 136px;
    font-size: 16px;
  }
}
.__left main .__portfolio .__port_sec {
  padding: 230px 0;
}
.__left main .__portfolio .__port_sec.sec_resort {
  background: url("../../assets/images/resort_bg.png") no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}
.__left main .__portfolio .__port_sec.sec_royal {
  background: url("../../assets/images/royal_bg.png") no-repeat;
  background-size: cover;
  background-position: center center;
}
.__left main .__portfolio .__port_sec.sec_pr {
  background: url("../../assets/images/pr_bg.png") no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}
.__left main .__portfolio .__port_sec .__port_cont {
  display: flex;
  justify-content: space-between;
}
.__left main .__portfolio .__port_sec .__port_cont .__view_box {
  width: calc(50% - 30px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 1023px) {
  .__left main .__portfolio .__port_sec .__port_cont .__view_box {
    width: calc(50% - 10px);
  }
}
.__left main .__portfolio .__port_sec .__port_cont .__view_box .__grey_num {
  margin-bottom: 30px;
}
.__left main .__portfolio .__port_sec .__port_cont .__view_box .__grey_num span {
  font-size: 180px;
  font-weight: 800;
  color: rgba(201, 201, 201, 0.3);
  letter-spacing: -8px;
}
@media (max-width: 1023px) {
  .__left main .__portfolio .__port_sec .__port_cont .__view_box .__grey_num span {
    font-size: 80px;
  }
}
.__left main .__portfolio .__port_sec .__port_cont .__view_box .__view_image img {
  width: 100%;
}
.__left main .__portfolio .__port_sec .__port_cont .__desc_box {
  width: calc(50% - 30px);
  padding-top: 90px;
}
@media (max-width: 1023px) {
  .__left main .__portfolio .__port_sec .__port_cont .__desc_box {
    width: calc(50% - 10px);
    padding-top: 15px;
  }
}
.__left main .__portfolio .__port_sec .__port_cont .__desc_box .__desc_title {
  font-size: 36px;
  font-weight: 600;
  line-height: 1.4;
  margin-bottom: 100px;
}
@media (max-width: 1023px) {
  .__left main .__portfolio .__port_sec .__port_cont .__desc_box .__desc_title {
    font-size: 24px;
    margin-bottom: 60px;
  }
}
.__left main .__portfolio .__port_sec .__port_cont .__desc_box .__desc_text .__text_box {
  margin-bottom: 40px;
  font-weight: 400;
}
.__left main .__portfolio .__port_sec .__port_cont .__desc_box .__desc_text .__text_box:last-child {
  margin-bottom: 0;
}
.__left main .__portfolio .__port_sec .__port_cont .__desc_box .__desc_text .__text_box:last-child p:last-child {
  line-height: 1.6;
}
.__left main .__portfolio .__port_sec .__port_cont .__desc_box .__desc_text .__text_box p:first-child {
  margin-bottom: 10px;
  font-weight: 600;
}
.__left main .__work .__work_cont {
  display: flex;
  max-width: unset;
}
.__left main .__work .__work_cont .__fit_title {
  padding: 50px 0;
  width: 160px;
  border-right: 1px solid rgba(230, 230, 230, 0.8);
  margin-right: 30px;
  font-size: 2.6rem;
}
.__left main .__work .__work_cont .__work_wrap {
  padding: 140px 0;
  width: calc(100% - 160px);
  position: relative;
}
.__left main .__work .__work_cont .__work_wrap:before {
  position: absolute;
  content: "";
  width: 1px;
  height: 100%;
  background-color: rgba(230, 230, 230, 0.8);
  top: 0;
  left: calc(33% + 3px);
}
.__left main .__work .__work_cont .__work_wrap:after {
  position: absolute;
  content: "";
  width: 1px;
  height: 100%;
  background-color: rgba(230, 230, 230, 0.8);
  top: 0;
  left: calc(66% + 10px);
}
.__left main .__work .__work_cont .__work_wrap .__work_list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.__left main .__work .__work_cont .__work_wrap .__work_list .test {
  width: calc(33.333% - 30px);
  margin-bottom: 50px;
  padding: 10px;
}
.__left main .__work .__work_cont .__work_wrap .__work_list .test .work_title {
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid #e6e6e6;
}
.__left main .__work .__work_cont .__work_wrap .__work_list .test .cont_wrap {
  position: relative;
  max-height: 400px;
  overflow-y: hidden;
  border: 2px solid #F8E6E0;
  cursor: pointer;
}
.__left main .__work .__work_cont .__work_wrap .__work_list .test .cont_wrap .img_box {
  position: relative;
}
.__left main .__work .__work_cont .__work_wrap .__work_list .test .cont_wrap .img_box:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.__left main .__work .__work_cont .__work_wrap .__work_list .test .cont_wrap .img_box img {
  width: 100%;
}
.__left main .__work .__work_cont .__work_wrap .__work_list .test .cont_wrap:hover .__capa_list {
  right: 0%;
  transition: ease-in-out 0.5s;
}
.__left main .__work .__work_cont .__work_wrap .__work_list .test .cont_wrap .__capa_list {
  position: absolute;
  top: 0;
  right: 100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgba(51, 51, 51, 0.95) 55%, rgba(51, 51, 51, 0.75) 95%, rgba(51, 51, 51, 0.6) 100%);
  color: white;
}
.__left main .__work .__work_cont .__work_wrap .__work_list .test .cont_wrap .__capa_list .__cont_wrap {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.__left main .__work .__work_cont .__work_wrap .__work_list .test .cont_wrap .__capa_list .__cont_wrap .list_cont {
  padding: 50px 50px 0;
}
@media screen and (max-width: 1693px) {
  .__left main .__work .__work_cont .__work_wrap .__work_list .test .cont_wrap .__capa_list .__cont_wrap .list_cont {
    padding: 30px 30px 0;
  }
}
@media screen and (max-width: 1565px) {
  .__left main .__work .__work_cont .__work_wrap .__work_list .test .cont_wrap .__capa_list .__cont_wrap .list_cont {
    padding: 20px 20px 0;
  }
}
.__left main .__work .__work_cont .__work_wrap .__work_list .test .cont_wrap .__capa_list .__cont_wrap .list_cont .__list_menu {
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 18px;
}
@media screen and (max-width: 1514px) {
  .__left main .__work .__work_cont .__work_wrap .__work_list .test .cont_wrap .__capa_list .__cont_wrap .list_cont .__list_menu {
    margin-bottom: 20px;
    font-size: 16px;
  }
}
.__left main .__work .__work_cont .__work_wrap .__work_list .test .cont_wrap .__capa_list .__cont_wrap .list_cont .__list_menu .__left_menu {
  margin-bottom: 8px;
  font-weight: 700;
}
.__left main .__work .__work_cont .__work_wrap .__work_list .test .cont_wrap .__capa_list .__cont_wrap .list_cont .__list_menu:last-child {
  margin-bottom: 0;
}
.__left main .__work .__work_cont .__work_wrap .__work_list .test .cont_wrap .__capa_list .__cont_wrap .__site {
  padding: 0 50px 50px;
}
@media screen and (max-width: 1693px) {
  .__left main .__work .__work_cont .__work_wrap .__work_list .test .cont_wrap .__capa_list .__cont_wrap .__site {
    padding: 0 30px 30px;
  }
}
@media screen and (max-width: 1565px) {
  .__left main .__work .__work_cont .__work_wrap .__work_list .test .cont_wrap .__capa_list .__cont_wrap .__site {
    padding: 0 20px 20px;
  }
}
.__left main .__work .__work_cont .__work_wrap .__work_list .test .cont_wrap .__capa_list .__cont_wrap .__site p {
  display: inline-block;
  position: relative;
}
.__left main .__work .__work_cont .__work_wrap .__work_list .test .cont_wrap .__capa_list .__cont_wrap .__site p:after {
  position: absolute;
  content: "";
  left: calc(100% + 6px);
  top: 50%;
  width: 25px;
  height: 18px;
  transform: translateY(-50%);
  background: url("./../../assets/images/yellow.png") no-repeat;
  background-size: contain;
  -webkit-animation: arrow infinite 0.8s;
          animation: arrow infinite 0.8s;
}
@-webkit-keyframes arrow {
  0% {
    left: calc(100% + 6px);
  }
  100% {
    left: calc(100% + 15px);
  }
}
@keyframes arrow {
  0% {
    left: calc(100% + 6px);
  }
  100% {
    left: calc(100% + 15px);
  }
}

.__right {
  width: 110px;
  border-left: 1px solid rgba(230, 230, 230, 0.8);
  background-color: #f9f9f9;
  position: relative;
  z-index: 1;
}
@media (max-width: 767px) {
  .__right {
    width: 80px;
  }
}
.__right #__mode_btn {
  position: fixed;
  top: 20px;
  right: 15px;
  width: 80px;
  height: 40px;
  border-radius: 160px;
  background: #f8f8f8;
  transition: 0.5s;
  cursor: pointer;
  box-shadow: inset 0 2px 60px rgba(0, 0, 0, 0.1), inset 0 2px 8px rgba(0, 0, 0, 0.1), inset 0 -4px 4px rgba(0, 0, 0, 0.05);
}
@media (max-width: 1023px) {
  .__right #__mode_btn {
    top: 16px;
    right: 19px;
    width: 72px;
    height: 36px;
  }
}
@media (max-width: 767px) {
  .__right #__mode_btn {
    right: 10px;
    width: 60px;
    height: 30px;
  }
}
.__right #__mode_btn .__indicator {
  position: absolute;
  top: 0;
  left: 0;
  width: 38px;
  height: 38px;
  background: #f8f8f8;
  background: linear-gradient(to bottom, #eaeaea, #f9f9f9);
  background: url(../../assets/images/day.png) no-repeat;
  background-size: 30px;
  background-position: center center;
  border-radius: 50%;
  border: 1px solid #777;
  transform: scale(0.9);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1), inset 0 4px 4px rgb(255, 255, 255), inset 0 4px 4px rgb(255, 255, 255);
  transition: 0.5s;
  z-index: 1;
}
@media (max-width: 1023px) {
  .__right #__mode_btn .__indicator {
    width: 34px;
    height: 34px;
    background-size: 22px;
  }
}
@media (max-width: 767px) {
  .__right #__mode_btn .__indicator {
    width: 28px;
    height: 28px;
    background-size: 16px;
  }
}
.__right #__mode_btn.active {
  background: #777;
  box-shadow: inset 0 8px 60px rgba(0, 0, 0, 0.1), inset 0 8px 8px rgba(0, 0, 0, 0.1), inset 0 -4px 4px rgba(0, 0, 0, 0.1);
}
.__right #__mode_btn.active .__indicator {
  left: 40px;
  background: linear-gradient(to bottom, #444, #222);
  background: url(../../assets/images/night.png) no-repeat;
  background-size: 30px;
  background-position: center center;
  border: 1px solid #f8f8f8;
  box-shadow: 0 8px 40px rgba(0, 0, 0, 0.5), inset 0 4px 4px rgba(255, 255, 255, 0.2), inset 0 4px 4px rgba(255, 255, 255, 0.2);
}
@media (max-width: 1023px) {
  .__right #__mode_btn.active .__indicator {
    left: 40px;
    background-size: 22px;
  }
}
@media (max-width: 767px) {
  .__right #__mode_btn.active .__indicator {
    left: 35px;
    background-size: 16px;
  }
}/*# sourceMappingURL=two.css.map */